*{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  gap: 20px;
  display: flex;
 
}
h2{
  color:red;
}
@media screen and (max-width:800px) {
  .container{
    flex-direction: column;
  }
}